* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #D0D1D7;
}

body {
    overflow: hidden;
}

ul {
    list-style: none;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1598e3;
    background-image: linear-gradient(43deg, #1598e3 25%, #10b5ca 49%, #FFCC70 87%, #ba840a 98%);
}

#wrapper .sidebar {
    width: 220px;
    height: 753.6px;
    position: fixed;
    top: 0;
    left: -220px;
    background-color: #1598e3;
    background-image: linear-gradient(43deg, #1598e3 25%, #10b5ca 49%, #FFCC70 87%, #e1a825 98%);
    overflow: hidden;
}

#wrapper button {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(./images/radio-button.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    outline: none;
    margin-top: 20px;
    margin-left: 10px;
    transition: all 0.6s;
    cursor: pointer;
}

.headSculpture {
    width: 100%;
    margin-top: 35px;
    text-align: center;
}

.headSculpture img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    transform: translate(0, -135px);
    transition: all 1s;
}

.headSculpture .img {
    transform: translate(0, 0);
}

.headSculpture p {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 15px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    background-color: #10b5ca;
    background-image: linear-gradient(62deg, #10b5ca 0%, #ffcc70 62%);
    border-radius: 15px;
    color: #fff;
    transform: translate(200px, 0);
    transition: all 1s;
}

.headSculpture .opacity {
    transform: translate(0, 0);
}

.option,
.option ul li {
    width: 100%;
}

.option ul {
    padding: 15px 0;
}

.option ul li {
    display: flex;
    align-items: center;
    width: 195px;
    height: 30px;
    margin-top: 15px;
    padding-left: 30px;
    cursor: pointer;
    color: #D0D1D7;
    transform: translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: 0.4s;
    transition: all 1s;
}

.option ul li:nth-child(1),
.option ul li:nth-child(3),
.option ul li:nth-child(5) {
    transform: translate(-200px, 0);
}

.option ul li:nth-child(2),
.option ul li:nth-child(4),
.option ul li:nth-child(6) {
    transform: translate(200px, 0);
}

.sidebar .option ul li.li {
    transform: translate(0, 0);
}

.option ul li:before {
    content: "";
    position: absolute;
    width: 220px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(48, 154, 215);
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.option ul li:hover,
.option ul li:focus,
.option ul li:active {
    color: #ffffff;
}

.option ul li::before.active {
    background-color: rgb(48, 154, 215);
}

.option ul li:hover:before,
.option ul li:focus:before,
.option ul li:active:before {
    transform: scaleX(1);
}

.option ul li a {
    width: 100;
    height: 100%;
    position: relative;
}

.option ul li a img {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 25px;
    height: 25px;
}

.option ul li a p {
    display: inline-block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding-left: 10px;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 30px;
}

.banner {
    width: 100%;
    height: 753.6px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 270px;
}

.banner .home {
    width: 1000px;
    height: 753.6px;
    margin-left: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow: auto;
}

.banner .home h1,h3 {
    margin: 20px;
}

.banner .cards {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 753.6px;
    margin-left: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow: auto;
}

.banner .cards li {
    width: 220px;
    height: 290px;
    border-radius: 10px;
    box-shadow: -20px -17px 10px 0px rgb(0 0 0 / 39%);
    margin: 20px 14px;
}

.banner .cards li a {
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    display: block;
}

.banner .cards li a img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: block;
}

.banner .cards li a .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.401);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards::-webkit-scrollbar {
    width: 6px;
}

.cards::-webkit-scrollbar-thumb {
    /* background-color: #dcc87d; */
    background: transparent;
}